.Header {
  background-color: #222;
  height: 220px;
  padding: 10px;
  color: white;
}

.Header-logo {
  animation: Header-logo-spin infinite 20s linear;
  height: 150px;
}

@keyframes Header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
