.Task {
  border-bottom: 1px solid #999;
}

.Task.isDragging {
  opacity: 0.25;
}

.Task.isOver {
  border-top: 3px solid #aaf;
}

.Task .mainInfo {
  height: 40px;
  line-height: 40px;
  background: #112;
  background: linear-gradient(to bottom, #112 0%, #113 100%);
  position: relative;
  padding-left: 52px;
}

.Task .deleteTask,
.Task .expandChildren,
.Task .rootTree {
  color: #aaa;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
}

.Task .deleteTask {
  right: 5px;
}

.Task .deleteTask:hover {
  color: #f00;
}

.Task .expandChildren {
  right: 45px;
}

.Task .expandChildren.hasChildren {
  color: #aaf;
}

.Task .expandChildren:hover,
.Task .rootTree:hover {
  color: #fff;
}

.Task .rootTree {
  right: 85px;
}

.Task .taskCompleted {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  left: 20px;
}

.Task .taskCompleted:hover {
  color: #bbb;
}

.Task.completed .title {
  text-decoration: line-through;
  color: #aaa;
}

.Task .dragHandle {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  left: 0px;
  color: #666;
  cursor: move;
}
