.reparentChildren {
  color: #11c; }

.reparentChildren:hover {
  background-color: #11c;
  color: #fff; }

.deleteChildren {
  color: #c11;
  float: right; }

.deleteChildren:hover {
  background-color: #c11;
  color: #fff; }
