.EditTaskNotes {
  height: 200px; }

.EditTaskNotes textarea {
  height: 200px;
  width: 100%;
  padding: 2px;
  margin: 0;
  border: none;
  background: none;
  color: #fff;
  font-family: monospace;
  resize: none;
  transition: box-shadow .2s ease-in; }

.EditTaskNotes textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px 0px #ccf; }

.EditTaskNotes.saved textarea {
  box-shadow: 0px 0px 5px 0px #cfc; }

.EditTaskNotes textarea::-webkit-scrollbar {
  width: 5px; }

.EditTaskNotes textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ccc; }
