.Message {
  width: 800px;
  max-width: 90%;
  margin: 10px auto 0;
  padding: 10px;
  padding-left: 40px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  z-index: 10;
  pointer-events: visible;
  position: relative;
  cursor: pointer; }

.Message.error {
  border-color: #c11;
  color: #c11;
  background-color: #fcc; }

.Message.warning {
  border-color: #f60;
  color: #f60;
  background-color: #fe9; }

.Message.info {
  border-color: #11c;
  color: #11c;
  background-color: #ccf; }

.Message.success {
  border-color: #1c1;
  color: #1c1;
  background-color: #cfc; }

.messageIcon {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 30px;
  height: 30px;
  margin-top: -15px; }

.messages-enter {
  opacity: 0; }

.messages-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in; }

.messages-leave {
  opacity: 1;
  transform-origin: top; }

.messages-leave-active {
  opacity: 0;
  transition: opacity 250ms ease-out; }
