.Task {
  border-bottom: 1px solid #888; }

.Task.isDragging {
  opacity: 0.25; }

.Task.dropHere {
  border-top: 3px solid #ccf; }

.Task .taskInfo {
  background: #112;
  background: linear-gradient(to bottom, #112 0%, #113 100%); }

.Task.editMode > .taskInfo {
  box-shadow: inset 0px -3px 5px -1px #ccf; }
