@import "_colors";

.reparentChildren {
    color: $blue;
}

.reparentChildren:hover {
    background-color: $blue;
    color: $white;
}

.deleteChildren {
    color: $red;
    float: right;
}

.deleteChildren:hover {
    background-color: $red;
    color: $white;
}
