@import "_colors";

.EditTaskTitle input {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  width: 100%;
  transition: box-shadow .2s ease-in;
}

.EditTaskTitle.saved input {
  box-shadow: inset 0px -3px 5px -3px $light-green;
}

.EditTaskTitle input:focus {
  outline: none;
  box-shadow: inset 0px -3px 5px -3px $light-blue;
}
