@import "_colors";

.Header {
  background-color: $dark-grey;
  height: 60px;
  color: $white;
  position: relative;
}

.Header-logo {
  animation: Header-logo-spin infinite 20s linear;
  height: 50px;
  margin: 5px;
}

@keyframes Header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Header h2 {
  margin: 0;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  position: absolute;
  left: 60px;
  top: 0;
}
