@import "_colors";

.Modal {
    width: 500px;
    max-width: 90%;
    margin: auto;
    background-color: $dark-grey;
    border: 2px solid $mid-grey;
    border-top: none;
    padding: 40px 10px 10px;
    position: relative;
    max-height: 95%;
    overflow-y: auto;
}

.Modal::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

.Modal::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $light-blue;
}

.Modal .closeModal {
    position: absolute;
    top:  10px;
    right:  10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.Modal .closeModal:hover {
    color: $red;
}

.Modal .previousModal {
    position: absolute;
    top:  10px;
    left:  10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.Modal .previousModal:hover {
    color: $light-blue;
}

.Modal button {
    border: none;
    background-color: $light-grey;
    padding: 0.5em;
    margin: 0.5em 0;
    cursor: pointer;
}
