@import "_colors";

.NewTaskForm {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid $mid-grey;
  padding-left: 40px;
  background: $blue-grey;
  background: linear-gradient(to bottom, $blue-grey 0%, $bluer-grey 100%);
  position: relative;
}

.NewTaskForm.isOver {
  border-top: 3px solid $light-blue;
}

.NewTaskForm .addTaskIcon {
  color: $white;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.NewTaskForm input {
  background-color: transparent;
  border: none;
  color: $mid-grey;
  width: 100%;
}

.NewTaskForm input:focus {
  border: none;
  color: $white;
  outline: none;
}

.NewTaskForm input::placeholder {
  color: $mid-grey;
}

.NewTaskForm input:focus::placeholder {
  color: $light-grey;
}

.TaskList .TaskList .NewTaskForm {
  border-bottom: none;
}
