@import "_colors";

.deleteTagOrGroup {
    height: 40px;
    width: 40px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.deleteTagOrGroup:hover {
    color: $red;
}

.editTagOrGroup {
    height: 40px;
    width: 40px;
    padding: 4px;
    display: block;
    position: absolute;
    top: 0;
    right: 40px;
    cursor: pointer;
}

.editTagOrGroup:hover {
    color: $light-blue;
}

.tagOrGroupList li {
    list-style: none;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    position: relative;
    overflow: hidden;
}

.tagOrGroupList input {
  background-color: transparent;
  border: none;
  color: $mid-grey;
  width: 100%;
}

.tagOrGroupList input:focus {
  border: none;
  color: $white;
  outline: none;
}

.tagOrGroupList input::placeholder {
  color: $mid-grey;
}

.tagOrGroupList input:focus::placeholder {
  color: $light-grey;
}

.tagOrGroupList {
    padding: 0;
    border: 2px solid $mid-grey;
    height: 204px;
    overflow-x: hidden;
    margin: 0;
}

.tagOrGroupList::-webkit-scrollbar {
    width: 5px;
    background: transparent;
}

.tagOrGroupList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $light-blue;
}

.tagOrGroupList li:nth-child(2n) {
    background-color: rgba(255,255,255,0.05);
}

.tagOrGroupList li:nth-child(2n+1) {
    background-color: rgba(255,255,255,0.1);
}
