@import "_colors";

.Task {
  border-bottom: 1px solid $mid-grey;
  position: relative;
}

.Task.isDragging {
  opacity: 0.25;
}

.Task.dropHere {
  border-top: 3px solid $light-blue;
}

.Task .taskInfo {
  background: $blue-grey;
  background: linear-gradient(to bottom, $blue-grey 0%, $bluer-grey 100%);
}

.Task.editMode > .taskInfo {
    box-shadow: inset 0px -3px 5px -1px $light-blue;
}
