@import "_colors";

.TaskMainInfo {
  height: 40px;
  line-height: 40px;
  position: relative;
  padding-left: 82px;
  padding-right: 160px;
}

.TaskMainInfo .title {
  height: 40px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  /* Allows space for tags. Should be done in a neater way, but meh. */
  padding-right: 50%;
}

.TaskMainInfo .title::-webkit-scrollbar {
  display: none;
}

.TaskMainInfo .toggleDetails,
.TaskMainInfo .toggleEditMode,
.TaskMainInfo .deleteTask,
.TaskMainInfo .expandChildren,
.TaskMainInfo .rootTree {
  color: $mid-grey;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
  cursor: pointer;
}

.TaskMainInfo .deleteTask {
  right: 5px;
}

.TaskMainInfo .deleteTask:hover {
  color: $red;
}

.TaskMainInfo .expandChildren {
  right: 45px;
}

.TaskMainInfo .expandChildren.hasChildren {
  color: $light-blue;
}

.TaskMainInfo .toggleDetails:hover,
.TaskMainInfo .toggleEditMode:hover,
.TaskMainInfo .expandChildren:hover,
.TaskMainInfo .rootTree:hover {
  color: $white;
}

.TaskMainInfo .rootTree {
  right: 85px;
}

.TaskMainInfo .toggleEditMode {
  right: 125px;
}

.TaskMainInfo .toggleDetails {
  left: 20px;
}

.TaskMainInfo .taskCompleted {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  left: 50px;
  color: $mid-grey;
}

.TaskMainInfo .taskCompleted:hover {
  color: $white;
}

.TaskMainInfo.completed .title {
  text-decoration: line-through;
  color: $mid-grey;
}

.TaskMainInfo .dragHandle {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  left: 0px;
  color: $mid-grey;
  cursor: move;
}

.TaskMainInfo .dragHandle:hover {
  color: $white;
}
