$black: #000;
$dark-grey: #333;
$mid-grey: #888;
$light-grey: #ccc;
$white: #fff;

$red: #c11;
$green: #1c1;
$blue: #11c;
$orange: #f60;

$light-red: #fcc;
$light-green: #cfc;
$light-blue: #ccf;
$light-orange: #fe9;

$mid-blue: #66f;

$blue-grey: #112;
$bluer-grey: #113;
