@import "_colors";

.Message {
    width: 800px;
    max-width: 90%;
    margin: 10px auto 0;
    padding: 10px;
    padding-left: 40px;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: $white;
    color: $black;
    z-index: 10;
    pointer-events: visible;
    position: relative;
    cursor: pointer;
}

.Message.error {
    border-color: $red;
    color: $red;
    background-color: $light-red;
}

.Message.warning {
    border-color: $orange;
    color: $orange;
    background-color: $light-orange;
}

.Message.info {
    border-color: $blue;
    color: $blue;
    background-color: $light-blue;
}

.Message.success {
    border-color: $green;
    color: $green;
    background-color: $light-green;
}

.messageIcon {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
}

.messages-enter {
    opacity: 0;
}

.messages-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

.messages-leave {
    opacity: 1;
    transform-origin: top;
}

.messages-leave-active {
    opacity: 0;
    transition: opacity 250ms ease-out;
}
