.Modal {
    width: 500px;
    max-width: 90%;
    margin: auto;
    background-color: #222;
    border: 2px solid #444;
    border-top: none;
    padding: 40px 10px 10px;
    position: relative;
}

.Modal .closeModal {
    position: absolute;
    top:  10px;
    right:  10px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.Modal .closeModal:hover {
    color: #99f;
}

.Modal button {
    border: none;
    background-color: #ccc;
    padding: 0.5em;
    margin: 0.5em 0;
    cursor: pointer;
}
