@import "_colors";

.TaskList {
  border-top: 1px solid $mid-grey;
  border-left: 3px solid $white;
  min-height: 100%;
}

.TaskList.alternateDepth {
  border-left-color: $mid-blue;
}

.TaskList .noTasks,
.TaskList .tasksLoading {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid $mid-grey;
  background: $blue-grey;
  background: linear-gradient(to bottom, $blue-grey 0%, $bluer-grey 100%);
  position: relative;
  color: $light-red;
  padding-left: 40px;
}
