@import "_colors";

.TaskHeader {
  border-left: 3px solid $white;
  padding-left: 40px;
  border-bottom: 2px solid $mid-grey;
  position: relative;
}

.TaskHeader h2 {
  margin: 0;
  line-height: 40px;
}

.TaskHeader .goUp {
  color: $light-grey;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.TaskHeader .goUp:hover {
  color: $white;
}
