@import "_colors";

.UserHeader {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 100%;
}

.UserHeader p {
  display: block;
  float: right;
  line-height: 60px;
  margin: 0 1rem;
}

.UserHeader .settings {
  cursor: pointer;
  float: right;
  height: 60px;
  line-height: 56px;
  padding: 0 1rem;
  font-size: 2em;
  border-left: 1px solid $mid-grey;
  color: $white;
}

.UserHeader .settings:hover,
.UserHeader .settings:active {
  color: $light-blue;
}

.UserHeader .logoutButton {
  cursor: pointer;
  display: block;
  float: right;
  height: 60px;
  border: none;
  border-left: 1px solid $mid-grey;
  color: $white;
  background-color: $dark-grey;
}

.UserHeader .logoutButton:hover,
.UserHeader .logoutButton:active {
  color: $red;
}

